@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


.container-payment{
    height: 80vh;
    
}

.columna{
    height: auto
}

.img-procesador{
    width: 6rem;
}

